
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HEADER */
header{
    div{
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
    
  
    ul{
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 10vh;
        right: 0;
        text-align: center;
        z-index: 1;
    }

    input:checked ~ ul{
        display: block;
        flex-direction: column;
        justify-content: right;
        align-content: center;
        background-color: blue;
        width: 320px;
        height: 224px;
        right: 0;
    }

    input{
        display: none;
    }

   

    .abrir{
        display: block;
    }
    .cerrar{
        display: none;
    }
 
    input:checked ~ .abrir{
            display: none;
    }
    input:checked ~ .cerrar{
    display: block;
    }      
    li{
        font-family: 'IBM Plex Mono', monospace;
        padding: 0em 1em;
        list-style: none;
        line-height: 1em;
        color: white;
        list-style: none;  
        margin-top: 1.5em;   
        text-align: right;      
    }
    li:hover{
        color: #00F3BB;
        text-decoration: line-through;
    }

    a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    a:hover{
        color: #00F3BB;
        text-decoration: line-through;
    }
}
/* TITULO */
.intro{
    display: flex;
    flex-direction: column;
    
    h1{
        display: inline;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 100;
        font-size: 36px;
        padding: 0em .4em;
        line-height: 2em;
        text-align: left;
        }
        .world_tachado{
            display: inline;
            text-decoration: line-through;
        } 
       
        .punto_azul{
           
            color: #0000EC ;
        }
        p{
            font-family: 'IBM Plex Mono', monospace;
            font-size: 14px;
            margin: 1em;
        }
        .conoce_mas{
            margin:10px;
            width: 18em;
            height: 3em;
            font-family: 'IBM Plex Mono', monospace;
            color:black;
            font-size: 16px;
            background: #00F3BB;
            text-align: center;
            border: none;
            
        }     
        button:hover{
            background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
            color: white;
            border: none;
        }
        
        button:active{
            background-color: grey;
        }
}

@import'episodios'; 
@import'venimos'; 
@import'invitadas'; 
@import'temas';


/* NOVEDADES */
.novedades{
    background-image: linear-gradient(225deg, #0000FF 100%, #0000A3 100% );
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    padding-top: 20%;
    
    
    h2{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 36px;
        font-weight: 50;
        text-align: center;
        margin: .3em;
        color: white;
        margin-bottom: 10%;

    }
  
    .escucha{
        margin:5vw;
        margin-bottom: 10%;
        width: 18em;
        height: 3em;
        font-family: 'IBM Plex Mono', monospace;
        color:black;
        font-size: 16px;
        background: #00F3BB;
        text-align: center;
        border: none;
    }

    button:hover{
        background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
        color: white;
        border: none;
    }

    

    
}
/* FOOTER */
footer{
    padding: 1.5em;
    
    h6{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        text-align: center;
    }
    .redes{
        margin-top: 5vh;
        display: flex;
        justify-content: space-around
        
    
    }
}


    
    
